---
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";

import AmanobotLogo from "../img/projects/Amanobot.webp";
import Brdotml from "../img/projects/brdotml.webp";
import Customgram from "../img/projects/Customgram.webp";
import Duckpy from "../img/projects/Duckpy.webp";
import EduuRobot from "../img/projects/EduuRobot.webp";
import InfoPlaca from "../img/projects/InfoPlaca.webp";
import LyricsPy from "../img/projects/LyricsPy.webp";
import PyKorone from "../img/projects/PyKorone.webp";
import UserLixo from "../img/projects/UserLixo.webp";
import ProjectPicture from "../components/ProjectPicture.astro";
import ModalProjectPicture from "../components/ModalProjectPicture.astro";
import Drawer from "../layouts/Drawer.astro";
---

<script src="../ts/main"></script>

<Drawer title="Home | Amano LLC">
  <!-- Main header -->
  <div id="main-header-bg" class="h-screen w-screen fixed -z-10"></div>
  <div class="flex h-screen">
    <div class="m-auto text-center">
      <h1 class="mb-12 text-4xl">
        <b>We are a team of Developers and Designers</b>
      </h1>
      <a class="main-btn" href="#about"><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>

  <!-- About us section -->
  <div id="about" class="bg-neutral-900 flex h-screen">
    <div class="m-auto text-center container">
      <h2 class="mb-12 text-3xl font-medium">About us</h2>
      <h4>
        <p class="mb-2 text-2xl">
          Our team was founded on January 2018 by <a href="https://alisson.sh"
            >Alisson</a
          > and <a href="https://eduu.ga">Eduardo</a>.
        </p>
        <p class="mb-2 text-2xl">
          One of our first projects was <a href="https://t.me/EduuRobot"
            >@EduuRobot</a
          >. It was initially designed to be a group admin bot on a group
          created by Eduardo. After some days, we saw that a group
          administration bot was a great idea, so we made the bot public for
          everyone.
        </p>
        <p class="mb-12 text-2xl">
          After EduuRobot, we started many other projects, most of them open
          source. You can see some of these projects below.
        </p>
      </h4>
      <a class="main-btn" href="#projects"
        ><i class="fas fa-chevron-down"></i></a
      >
    </div>
  </div>

  <!-- Projects section -->
  <div id="projects" class="bg-neutral-800 py-12">
    <h2 class="text-center my-6 text-3xl font-medium">Our projects</h2>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 container mx-auto"
    >
      <!-- Amanobot -->
      <div class="text-center">
        <a id="amanobot-a" href="#amanobot-modal">
          <div class="flex flex-col items-center mt-5">
            <ProjectPicture src={AmanobotLogo} alt="Amanobot logo" />
            <h4 class="text-2xl font-bold mt-2">Amanobot</h4>
            <p>Python Framework for Telegram bot API.</p>
          </div>
        </a>
        <div id="amanobot-modal">
          <div class="modal-content">
            <div class="close-amanobot-modal modal-close">
              <i class="fas fa-times"></i>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
              <div class="flex flex-col items-center mb-5">
                <ModalProjectPicture src={AmanobotLogo} alt="Amanobot logo" />
                <h1 class="text-4xl font-bold mt-2">Amanobot</h1>
                <p class="font-bold">Python Framework for Telegram bot API.</p>
                <div class="flex space-x-2 mt-2">
                  <a class="project-button" href="https://docs.amanobot.ml">
                    <i class="fas fa-book"></i>
                  </a>
                  <a
                    class="project-button"
                    href="https://github.com/AmanoTeam/amanobot"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                  <a
                    class="project-button"
                    href="https://pypi.org/project/amanobot"
                  >
                    <i class="fab fa-python"></i>
                  </a>
                </div>
              </div>
              <div class="project-desc">
                <p>
                  Amanobot is a Telegram bot API framework forked from the (now
                  discontinued) Telepot project.<br />
                  It aims to keep backwards-compatible with Telepot projects while
                  being updated frequently with modern Telegram bot API features.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- brdotml -->
      <div class="text-center">
        <a id="brdotml-a" href="#brdotml-modal">
          <div class="flex flex-col items-center mt-5">
            <ProjectPicture src={Brdotml} alt="Brdotml logo" />
            <h4 class="text-2xl font-bold mt-2">🇧🇷.ml (brdotml)</h4>
            <p>A Simple PHP URL shortener.</p>
          </div>
        </a>
        <div id="brdotml-modal">
          <div class="modal-content">
            <div class="close-brdotml-modal modal-close">
              <i class="fas fa-times"></i>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
              <div class="flex flex-col items-center mb-5">
                <ModalProjectPicture src={Brdotml} alt="Brdotml logo" />
                <h1 class="text-4xl font-bold mt-2">🇧🇷.ml (brdotml)</h1>
                <p class="font-bold">A Simple PHP URL shortener.</p>
                <div class="flex space-x-2 mt-2">
                  <a class="project-button" href="https://🇧🇷.ml/docs">
                    <i class="fas fa-book"></i>
                  </a>
                  <a
                    class="project-button"
                    href="https://github.com/AmanoTeam/brdotml"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                  <a class="project-button" href="https://🇧🇷.ml">
                    <i class="fas fa-globe"></i>
                  </a>
                </div>
              </div>
              <div class="project-desc">
                <p>
                  🇧🇷.ml is a simple URL shortener written in PHP that me
                  (Alisson) made just for learning.<br />
                  It is planned to be rewriten it in Python sometime in the future.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- customgram -->
      <div class="text-center">
        <a id="customgram-a" href="#customgram-modal">
          <div class="flex flex-col items-center mt-5">
            <ProjectPicture src={Customgram} alt="Customgram logo" />
            <h4 class="text-2xl font-bold mt-2">Customgram</h4>
            <p>An Unofficial Telegram client.</p>
          </div>
        </a>
        <div id="customgram-modal">
          <div class="modal-content">
            <div class="close-customgram-modal modal-close">
              <i class="fas fa-times"></i>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
              <div class="flex flex-col items-center mb-5">
                <ModalProjectPicture src={Customgram} alt="Customgram logo" />
                <h1 class="text-4xl font-bold mt-2">Customgram</h1>
                <p class="font-bold">An Unofficial Telegram client.</p>
                <div class="flex space-x-2 mt-2">
                  <a
                    class="project-button"
                    href="https://github.com/AmanoTeam/Customgram"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                  <a class="project-button" href="https://t.me/Customgram">
                    <i class="fas fa-newspaper"></i>
                  </a>
                  <a
                    class="project-button"
                    href="https://play.google.com/store/apps/details?id=org.telegram.customgram"
                  >
                    <i class="fab fa-google-play"></i>
                  </a>
                  <a
                    class="project-button"
                    href="https://customgram.amanoteam.com"
                  >
                    <i class="fas fa-globe"></i>
                  </a>
                </div>
              </div>
              <div class="project-desc">
                <p>
                  Customgram is an unofficial Telegram client with some useful
                  additions.
                </p>
                <p>Features</p>
                <ul>
                  <li>Max accounts increased to 10.</li>
                  <li>Option to set up a proxy before login.</li>
                  <li>Option to clear media from cache.</li>
                  <li>"Delete for everyone" enabled by default.</li>
                  <li>Upload date for profile photos.</li>
                  <li>Links and username on user bios clickable.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- DuckPy -->
      <div class="text-center">
        <a id="duckpy-a" href="#duckpy-modal">
          <div class="flex flex-col items-center mt-5">
            <ProjectPicture src={Duckpy} alt="Duckpy logo" />
            <h4 class="text-2xl font-bold mt-2">Duckpy</h4>
            <p>Python module to search on DuckDuckGo.</p>
          </div>
        </a>
        <div id="duckpy-modal">
          <div class="modal-content">
            <div class="close-duckpy-modal modal-close">
              <i class="fas fa-times"></i>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
              <div class="flex flex-col items-center mb-5">
                <ModalProjectPicture src={Duckpy} alt="Duckpy logo" />
                <h1 class="text-4xl font-bold mt-2">Duckpy</h1>
                <p class="font-bold">Python module to search on DuckDuckGo.</p>
                <div class="flex space-x-2 mt-2">
                  <a
                    class="project-button"
                    href="https://github.com/AmanoTeam/duckpy"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                  <a
                    class="project-button"
                    href="https://pypi.org/project/duckpy"
                  >
                    <i class="fab fa-python"></i>
                  </a>
                </div>
              </div>
              <div class="project-desc">
                <p>
                  Duckpy is a simple Python module for searching on the
                  DuckDuckGo website.<br />
                  It offers sync and async APIs, proxy support and has a simple API.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- EduuRobot -->
      <div class="text-center">
        <a id="eduurobot-a" href="#eduurobot-modal">
          <div class="flex flex-col items-center mt-5">
            <ProjectPicture src={EduuRobot} alt="EduuRobot logo" />
            <h4 class="text-2xl font-bold mt-2">EduuRobot</h4>
            <p>Multipurpose Bot for Telegram written in Python.</p>
          </div>
        </a>
        <div id="eduurobot-modal">
          <div class="modal-content">
            <div class="close-eduurobot-modal modal-close">
              <i class="fas fa-times"></i>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
              <div class="flex flex-col items-center mb-5">
                <ModalProjectPicture src={EduuRobot} alt="EduuRobot logo" />
                <h1 class="text-4xl font-bold mt-2">EduuRobot</h1>
                <p class="font-bold">
                  Multipurpose Bot for Telegram written in Python.
                </p>
                <div class="flex space-x-2 mt-2">
                  <a
                    class="project-button"
                    href="https://github.com/AmanoTeam/eduurobot"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                  <a class="project-button" href="https://t.me/EduuRobot">
                    <i class="fab fa-telegram-plane"></i>
                  </a>
                </div>
              </div>
              <div class="project-desc">
                <p>
                  EduuRobot was the first Amano project. It started even before
                  our team was formed. It aims to provide group administration
                  tools while having great tools for any public.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- InfoPlaca -->
      <div class="text-center">
        <a id="infoplaca-a" href="#infoplaca-modal">
          <div class="flex flex-col items-center mt-5">
            <ProjectPicture src={InfoPlaca} alt="InfoPlaca logo" />
            <h4 class="text-2xl font-bold mt-2">InfoPlaca</h4>
            <p>Telegram bot for searching Brazil license plates.</p>
          </div>
        </a>
        <div id="infoplaca-modal">
          <div class="modal-content">
            <div class="close-infoplaca-modal modal-close">
              <i class="fas fa-times"></i>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
              <div class="flex flex-col items-center mb-5">
                <ModalProjectPicture src={InfoPlaca} alt="InfoPlaca logo" />
                <h1 class="text-4xl font-bold mt-2">InfoPlaca</h1>
                <p class="font-bold">
                  Telegram bot for searching Brazil vehicle license plates.
                </p>
                <div class="flex space-x-2 mt-2">
                  <a
                    class="project-button"
                    href="https://github.com/AmanoTeam/InfoPlaca"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                  <a class="project-button" href="https://t.me/InfoPlacaBot">
                    <i class="fab fa-telegram-plane"></i>
                  </a>
                </div>
              </div>
              <div class="project-desc">
                <p>
                  InfoPlaca is a Telegram bot written in Python for obtaining
                  Brazilian vehicle license plates information.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- LyricsPy -->
      <div class="text-center">
        <a id="lyricspy-a" href="#lyricspy-modal">
          <div class="flex flex-col items-center mt-5">
            <ProjectPicture src={LyricsPy} alt="LyricsPy logo" />
            <h4 class="text-2xl font-bold mt-2">LyricsPy</h4>
            <p>Python bot and library to search for music lyrics.</p>
          </div>
        </a>
        <div id="lyricspy-modal">
          <div class="modal-content">
            <div class="close-lyricspy-modal modal-close">
              <i class="fas fa-times"></i>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
              <div class="flex flex-col items-center mb-5">
                <ModalProjectPicture src={LyricsPy} alt="LyricsPy logo" />
                <h1 class="text-4xl font-bold mt-2">LyricsPy</h1>
                <p class="font-bold">
                  Python bot and library to search for music lyrics.
                </p>
                <div class="flex space-x-2 mt-2">
                  <a
                    class="project-button"
                    href="https://github.com/AmanoTeam/LyricsPy"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                  <a
                    class="project-button"
                    href="https://pypi.org/project/lyricspy"
                  >
                    <i class="fab fa-python"></i>
                  </a>
                  <a class="project-button" href="https://t.me/LyricsPyBot">
                    <i class="fab fa-telegram-plane"></i>
                  </a>
                </div>
              </div>
              <div class="project-desc">
                <p>
                  LyricsPy is a Python bot and library created by <a
                    href="https://t.me/RianFC">Rian</a
                  > to search for music lyrics and show the current playing song
                  in Spotify and Last.fm.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- PyKorone -->
      <div class="text-center">
        <a id="pykorone-a" href="#pykorone-modal">
          <div class="flex flex-col items-center mt-5">
            <ProjectPicture src={PyKorone} alt="PyKorone logo" />
            <h4 class="text-2xl font-bold mt-2">PyKorone</h4>
            <p>Cute Telegram bot written in Python.</p>
          </div>
        </a>
        <div id="pykorone-modal">
          <div class="modal-content">
            <div class="close-pykorone-modal modal-close">
              <i class="fas fa-times"></i>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
              <div class="flex flex-col items-center mb-5">
                <ModalProjectPicture src={PyKorone} alt="PyKorone logo" />
                <h1 class="text-4xl font-bold mt-2">PyKorone</h1>
                <p class="font-bold">Cute Telegram bot written in Python.</p>
                <div class="flex space-x-2 mt-2">
                  <a
                    class="project-button"
                    href="https://github.com/AmanoTeam/PyKorone"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                  <a class="project-button" href="https://t.me/PyKoroneBot">
                    <i class="fab fa-telegram-plane"></i>
                  </a>
                </div>
              </div>
              <div class="project-desc">
                <p>
                  PyKorone is a cute Telegram bot written in Python with several
                  utilities and group administration commands.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- UserLixo -->
      <div class="text-center">
        <a id="userlixo-a" href="#userlixo-modal">
          <div class="flex flex-col items-center mt-5">
            <ProjectPicture src={UserLixo} alt="UserLixo logo" />
            <h4 class="text-2xl font-bold mt-2">UserLixo</h4>
            <p>Multipurpose Python Userbot for Telegram.</p>
          </div>
        </a>
        <div id="userlixo-modal">
          <div class="modal-content">
            <div class="close-userlixo-modal modal-close">
              <i class="fas fa-times"></i>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
              <div class="flex flex-col items-center mb-5">
                <ModalProjectPicture src={UserLixo} alt="UserLixo logo" />
                <h1 class="text-4xl font-bold mt-2">UserLixo</h1>
                <p class="font-bold">
                  Multipurpose Python Userbot for Telegram.
                </p>
                <div class="flex space-x-2 mt-2">
                  <a
                    class="project-button"
                    href="https://github.com/AmanoTeam/UserLixo"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                  <a class="project-button" href="https://t.me/UserLixo">
                    <i class="fas fa-newspaper"></i>
                  </a>
                </div>
              </div>
              <div class="project-desc">
                <p>
                  UserLixo is a modular Python userbot for Telegram created by <a
                    href="https://t.me/RianFC">Rian</a
                  >
                  and later on rewritten by <a href="https://t.me/usernein"
                    >Cezar</a
                  >.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact section -->
  <div id="contact" class="bg-neutral-900 py-12">
    <div class="md:container md:mx-auto">
      <h2 class="my-4 text-3xl font-medium">Contact us</h2>
      <div class="col-md-6">
        <p>
          You can contact us by sending an email to <a
            href="mailto:contact@amanoteam.com">contact@amanoteam.com</a
          >
          or joining our discussion at <a href="https://t.me/AmanoChat"
            >@AmanoChat</a
          >.
        </p>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="bg-neutral-900">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © <span id="copy-year">2024</span>
      <a href="/"> Amano LLC.</a>
    </div>
    <!-- Copyright -->
  </footer>
</Drawer>

<style lang="scss">
  @import "animate.css/source/zooming_entrances/zoomIn.css";
  @import "animate.css/source/fading_exits/fadeOut.css";

  :root {
    // Firefox scrollbars
    scrollbar-width: thin;
    scrollbar-color: #252525 #151515;
  }

  ::-webkit-scrollbar {
    background: #151515;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #252525;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #303030;
  }

  .section-title {
    font-weight: 500;
  }

  .project-desc > ul {
    font-size: 15pt;
  }

  .project-button {
    display: inline-block;
    box-shadow: 0 0 4px #3332;
    margin-right: 6px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #222 !important;
    background-color: #fff;
  }

  .project-button:hover {
    box-shadow: 0 0 5px #3339;
  }

  .project-button > svg {
    font-size: 20px;
    margin: 10px;
  }

  .modal-close {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 64px;
    position: relative;
  }

  .modal-close > svg {
    text-shadow: 0 0 1px #0006;
    transition: all 0.15s;
    font-size: 30pt;
    cursor: default;
  }

  .modal-close:hover > svg {
    color: #fbb;
    transition: all 0.15s;
  }

  .main-btn > svg,
  .main-btn > i {
    display: inline-block;
    vertical-align: middle;
    height: 20pt;
  }

  .main-btn:not(:hover) > svg {
    color: var(--bs-body-color);
  }

  .modal-content {
    color: #eee;
    background: #0000;
    border-style: none;
  }

  .modal-content p {
    font-size: 15pt;
  }

  .project-desc {
    text-align: initial;
  }

  .project-desc p {
    font-size: 22pt;
    font-weight: bolder;
  }

  a[href]:not(.nav-link):not(a[href^="#"]) {
    color: #72a4f7;
    text-decoration: none;
  }

  a[href]:hover:not(.nav-link):not(a[href^="#"]) {
    color: #5a95f5;
  }

  div.projects > div > a[href] {
    color: var(--bs-body-color);
    text-decoration: none;
  }

  .footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
  }
</style>
