---
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";

import "animate.css/source/zooming_entrances/zoomIn.css";
import "animate.css/source/fading_exits/fadeOut.css";

import DuckpyLogo from "../img/projects/Duckpy.webp";
import EduuRobotLogo from "../img/projects/EduuRobot.webp";
import HydrogramLogo from "../img/projects/Hydrogram.png";
import InfoPlacaLogo from "../img/projects/InfoPlaca.webp";
import LyricsPyLogo from "../img/projects/LyricsPy.webp";
import UnuLogo from "../img/projects/Unu.png";
import UserLixoLogo from "../img/projects/UserLixo.webp";

import Project from "../components/Project.astro";
import Drawer from "../layouts/Drawer.astro";
---

<script>
  import { library, dom } from "@fortawesome/fontawesome-svg-core";
  import {
    faBars,
    faBook,
    faChevronDown,
    faGlobe,
    faNewspaper,
    faXmark,
  } from "@fortawesome/free-solid-svg-icons";
  import {
    faGithub,
    faGitlab,
    faGooglePlay,
    faPython,
    faTelegram,
  } from "@fortawesome/free-brands-svg-icons";

  import { tsParticles } from "@tsparticles/engine";
  import { loadBaseMover } from "@tsparticles/move-base";
  import { loadColorUpdater } from "@tsparticles/updater-color";
  import { loadOpacityUpdater } from "@tsparticles/updater-opacity";
  import { loadOutModesUpdater } from "@tsparticles/updater-out-modes";
  import { loadSizeUpdater } from "@tsparticles/updater-size";
  import { loadCircleShape } from "@tsparticles/shape-circle";

  library.add(faBars, faBook, faChevronDown, faGlobe, faNewspaper, faXmark);
  library.add(faGithub, faGitlab, faGooglePlay, faPython, faTelegram);

  dom.i2svg();

  loadBaseMover(tsParticles);
  loadColorUpdater(tsParticles);
  loadOpacityUpdater(tsParticles);
  loadOutModesUpdater(tsParticles);
  loadSizeUpdater(tsParticles);
  loadCircleShape(tsParticles);

  let particles = await tsParticles.load({
    id: "main-header-bg",
    options: {
      background: {
        color: {
          value: "#232741",
        },
      },
      particles: {
        color: {
          value: "#ffffff",
        },
        move: {
          enable: true,
          outModes: "out",
          random: true,
          speed: 1,
        },
        number: {
          density: {
            enable: true,
          },
          value: 160,
        },
        opacity: {
          value: {
            min: 0,
            max: 1,
          },
          animation: {
            enable: true,
            speed: 1,
          },
        },
        size: {
          value: {
            min: 1,
            max: 3,
          },
          animation: {
            speed: 4,
          },
        },
      },
    },
  });

  let aboutPage = document.getElementById("about");

  let areParticlesPlaying = true;

  const updateParticlesState = (_e: Event) => {
    if (window.scrollY > aboutPage.offsetTop && areParticlesPlaying) {
      areParticlesPlaying = false;
      particles.pause();
    } else if (window.scrollY < aboutPage.offsetTop && !areParticlesPlaying) {
      areParticlesPlaying = true;
      particles.play();
    }
  };

  // Pause particles when not visible
  window.addEventListener("load", updateParticlesState);
  window.addEventListener("scroll", updateParticlesState);

  let copyYear = document.getElementById("copy-year");

  copyYear.innerText = new Date().getFullYear().toString();
</script>

<Drawer title="Home | Amano LLC">
  <!-- Main header -->
  <div id="main-header-bg" class="h-screen w-screen fixed -z-10"></div>
  <div class="flex h-screen">
    <div class="m-auto text-center">
      <h1 class="mb-12 text-4xl">
        <b>We are a team of Developers and Designers</b>
      </h1>
      <a class="main-btn" href="#about"><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>

  <!-- About us section -->
  <div id="about" class="bg-neutral-900 flex h-screen">
    <div class="m-auto text-center container">
      <h2 class="mb-12 text-3xl font-medium">About us</h2>
      <h4>
        <p class="mb-2 text-2xl">
          Our team was founded on January 2018 by <a
            href="https://alisson.sh"
            target="_blank">Alisson</a
          > and <a href="https://eduu.ga" target="_blank">Eduardo</a>.
        </p>
        <p class="mb-2 text-2xl">
          One of our first projects was <a
            href="https://t.me/EduuRobot"
            target="_blank">@EduuRobot</a
          >. It was initially designed to be a group admin bot on a group
          created by Eduardo. After some days, we saw that a group
          administration bot was a great idea, so we made the bot public for
          everyone.
        </p>
        <p class="mb-12 text-2xl">
          After EduuRobot, we started many other projects, most of them open
          source. You can see some of these projects below.
        </p>
      </h4>
      <a class="main-btn" href="#projects"
        ><i class="fas fa-chevron-down"></i></a
      >
    </div>
  </div>

  <!-- Projects section -->
  <div id="projects" class="bg-neutral-800 py-12">
    <h2 class="text-center my-6 text-3xl font-medium">Our projects</h2>
    <p class="text-center my-6">
      Our team has already built many projects. Our <a
        href="https://github.com/AmanoTeam"
        target="_blank">GitHub repository</a
      > hosts over 75 repositories. Here is a brief overview of some of our active
      projects:
    </p>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 container mx-auto"
    >
      <!-- EduuRobot -->
      <Project
        title="EduuRobot"
        logoSrc={EduuRobotLogo}
        bgColor="#C90000"
        description="Multipurpose bot for Telegram written in Python."
        modalAdditionalInfo="EduuRobot was the first Amano project. In fact, it started even before our team was formed.<br>It aims to provide group administration tools while having great tools for any public."
        githubLink="https://github.com/AmanoTeam/eduurobot"
        telegramLink="https://t.me/EduuRobot"
      />

      <!-- Hydrogram -->
      <Project
        title="Hydrogram"
        logoSrc={HydrogramLogo}
        bgColor="#0088CC"
        description="Telegram MTProto API framework for Python."
        modalAdditionalInfo="Hydrogram is a Telegram MTProto API framework written in Python, based on the popular Pyrogram library, with a completely reworked and optimised codebase.<br>It's the base for all our projects that need the Telegram API."
        githubLink="https://github.com/hydrogram/hydrogram"
        newsLink="https://t.me/HydrogramNews"
        pypiLink="https://pypi.org/project/Hydrogram/"
      />

      <!-- UserLixo -->
      <Project
        title="UserLixo"
        logoSrc={UserLixoLogo}
        bgColor="#8C5AD3"
        description="Multipurpose Python userbot for Telegram."
        modalAdditionalInfo="UserLixo is a modular Python userbot for Telegram."
        githubLink="https://github.com/AmanoTeam/UserLixo"
        telegramLink="https://t.me/UserLixo"
        newsLink="https://t.me/UserLixo"
      />

      <!-- Unu -->
      <Project
        title="Unu"
        logoSrc={UnuLogo}
        bgColor="#5455FE"
        description="Telegram bot for playing the UNO cards game."
        modalAdditionalInfo="Unu is a Telegram bot for playing UNO.<br>It was originally a fork of the popular @unobot bot with some extra features, but then we decided to rewrite it from scratch."
        githubLink="https://github.com/AmanoTeam/UnuRobot"
        telegramLink="https://t.me/UnuRobot"
        newsLink="https://t.me/UnuRobotUpdates"
      />

      <!-- LyricsPy -->
      <Project
        title="LyricsPy"
        logoSrc={LyricsPyLogo}
        bgColor="#000000"
        description="Python bot and library to search for music lyrics."
        modalAdditionalInfo="LyricsPy is a Python bot and library created by Rian to search for music lyrics and show the current playing song in Spotify and Last.fm."
        githubLink="https://github.com/AmanoTeam/LyricsPy"
        telegramLink="https://t.me/LyricsPyBot"
        pypiLink="https://pypi.org/project/LyricsPy/"
      />

      <!-- InfoPlaca -->
      <Project
        title="InfoPlaca"
        logoSrc={InfoPlacaLogo}
        bgColor="#316dcd"
        description="Telegram bot for searching Brazilian license plates."
        modalAdditionalInfo="InfoPlaca (literally PlateInfo) is a Telegram bot written in Python for obtaining Brazilian vehicle license plates information."
        githubLink="https://github.com/AmanoTeam/InfoPlaca"
        telegramLink="https://t.me/InfoPlacaBot"
      />

      <!-- DuckPy -->
      <Project
        title="Duckpy"
        logoSrc={DuckpyLogo}
        bgColor="#DA4A26"
        description="Python module to search on DuckDuckGo."
        modalAdditionalInfo="Duckpy is a simple Python module for searching on the DuckDuckGo website.<br>It offers sync and async APIs, proxy support and has a simple API."
        githubLink="https://github.com/AmanoTeam/duckpy"
        pypiLink="https://pypi.org/project/duckpy/"
      />
    </div>
  </div>

  <!-- Contact section -->
  <div id="contact" class="bg-neutral-900 py-12">
    <div class="md:container md:mx-auto">
      <h2 class="my-4 text-3xl font-medium">Contact us</h2>
      <div class="col-md-6">
        <p>
          You can contact us by sending an email to <a
            href="mailto:contact@amanoteam.com"
            target="_blank">contact@amanoteam.com</a
          >
          or joining our discussion at <a
            href="https://t.me/AmanoChat"
            target="_blank">@AmanoChat</a
          >.
        </p>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="bg-neutral-900">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © <span id="copy-year">2024</span>
      <a href="/"> Amano LLC.</a>
    </div>
    <!-- Copyright -->
  </footer>
</Drawer>

<style lang="scss">
  :root {
    // Firefox scrollbars
    scrollbar-width: thin;
    scrollbar-color: #252525 #151515;
  }

  ::-webkit-scrollbar {
    background: #151515;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #252525;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #303030;
  }

  .section-title {
    font-weight: 500;
  }

  .main-btn > svg,
  .main-btn > i {
    display: inline-block;
    vertical-align: middle;
    height: 20pt;
  }

  .main-btn:not(:hover) > svg {
    color: var(--bs-body-color);
  }

  a[href]:not(.nav-link):not(a[href^="#"]) {
    color: #72a4f7;
    text-decoration: none;
  }

  a[href]:hover:not(.nav-link):not(a[href^="#"]) {
    color: #5a95f5;
  }

  div.projects > div > a[href] {
    color: var(--bs-body-color);
    text-decoration: none;
  }

  .footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
  }
</style>
