---
import ProjectPicture from "./ProjectPicture.astro";
import ModalProjectPicture from "./ModalProjectPicture.astro";

export interface Props {
  title: string;
  logoSrc: ImageMetadata;
  bgColor: string;
  description: string;
  modalAdditionalInfo: string;
  githubLink?: string;
  newsLink?: string;
  pypiLink?: string;
  telegramLink?: string;
  additionalLink?: string;
  additionalLinkIcon?: string;
}

const {
  title,
  logoSrc,
  bgColor,
  description,
  modalAdditionalInfo,
  githubLink,
  newsLink,
  pypiLink,
  telegramLink,
  additionalLink,
  additionalLinkIcon,
} = Astro.props;

const id = title.toLowerCase().replaceAll(" ", "-");
---

<div onclick={id + "_modal.showModal()"} class="cursor-pointer">
  <div class="flex flex-col items-center mt-5">
    <ProjectPicture src={logoSrc} alt={title + " Logo"} />
    <h4 class="text-2xl font-bold mt-2">{title}</h4>
    <p>{description}</p>
  </div>
</div>

<dialog id={id + "_modal"} class="modal modal-bottom sm:modal-middle">
  <div class="modal-box text-white" style={{ backgroundColor: bgColor }}>
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
    </form>
    <div class="flex flex-col items-center my-5">
      <ModalProjectPicture src={logoSrc} alt={title + " Logo"} />
      <h1 class="text-4xl font-bold mt-2">{title}</h1>
      <p class="font-bold">{description}</p>
      <div class="flex space-x-3 mt-2">
        {
          githubLink && (
            <a class="project-button" href={githubLink} target="_blank">
              <i class="fab fa-github" />
            </a>
          )
        }
        {
          telegramLink && (
            <a class="project-button" href={telegramLink} target="_blank">
              <i class="fab fa-telegram-plane" />
            </a>
          )
        }
        {
          pypiLink && (
            <a class="project-button" href={pypiLink} target="_blank">
              <i class="fab fa-python" />
            </a>
          )
        }
        {
          newsLink && (
            <a class="project-button" href={newsLink} target="_blank">
              <i class="fas fa-newspaper" />
            </a>
          )
        }
        {
          additionalLink && (
            <a class="project-button" href={additionalLink} target="_blank">
              <i class={additionalLinkIcon} />
            </a>
          )
        }
      </div>
    </div>
    <div class="project-desc">
      <p set:html={modalAdditionalInfo} />
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<style>
  .project-button {
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    box-shadow: 0 0 4px #3335;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #222;
    background-color: #fff;
  }

  .project-button:hover {
    box-shadow: 0 0 5px #3339;
  }

  .project-button > svg {
    font-size: 20px;
    margin: auto;
  }

  .project-desc {
    text-align: initial;
  }

  .project-desc p {
    font-size: 1.5em;
    font-weight: bolder;
  }
</style>
